
html, body {
    background-color: #D9D9D9;
    height: 100%;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
a {
    color: rgb(255, 255, 255);
}
main {
    padding-top: 80px;
}
ul > li {
    font-size: 2rem;
    background-color: #616161;
    border-radius: 5px;
    border: 1px solid #ff0303;
    
   
    
}
ul, li a {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    width: max-content;
    margin: 1rem; 
    padding: 1rem;   
}
nav > ul > li {
    display: inline-block;
    
}
.produkteParent, .karriereParent, 
.uberunsParent, .hardwareParent {
    position: relative;    
}


.produkteParent:hover .produkteChild, 
.hardwareParent:hover .hardwareChild, 
.uberunsParent:hover .uberunsChild,
.karriereParent:hover .karriereChild {
    display: block;
    top: 6px;
    left: -20%;
}
.hardwareChild, .produkteChild, .uberunsChild, .karriereChild{
   position: absolute;
   display: none;
   left: 0;
   
}
.hardwareParent:hover .hardwareChild, .karriereParent:hover .karriereChild  {
    left: 85%;
    top: -33px;
}
p {
    font-size: x-large;
}
footer {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #D9D9D9;
}
